/*Các xử lý định dạng cho loginv3.html - phiên bản Boostrap 5.2.2*/

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: 'Montserrat', sans-serif;
}

/* header */

/* navbar */
.my-logo{
    height: 60px;
}
/* slider */
.my-carousel-caption{
    background: rgba(0, 0, 0, 20%);
}

/* about */

/* news */

/* services */

/* footer */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

@media (min-width: 576px) and (max-width: 767.98px) { 
}

@media (min-width: 768px) and (max-width: 991.98px) { 
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
}

@media (min-width: 1200px) and (max-width: 1399.98px) { 
}

@media (min-width: 1400px) { 
}