

<div class="mt-2">
    <div class="row">

        {{#each blog}}
            <div class="col-md-6 mt-4">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <a href="/blogs/{{this.slug}}">
                        <h2>{{this.title}}</h2>
                    </a>
                    <p>{{this.description}}</p>
                    <button class="btn btn-outline-primary" type="button">Read Now</button>
                </div>
            </div>
        {{/each}}

    </div>
</div>